html,body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
.page{
    height: 100%;
    width: 100%;
}
.page-background{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(/scr/image/page-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-content{
    height: 100%;
    width: 100%;
    position: absolute;
}
.page-content-top-nav{
    height: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.page-content-top-nav p{
    margin-right: 60px;
}
.page-content-top-nav p:last-child{
    margin-right: 0px;
}
.page-content-top-nav p a:hover{
    text-decoration: underline;
}